<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.palmfoldv2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".homeFold"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".directTouch"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".oneHanded"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".palmCalibration"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".userProfile"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".testResults"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".calibration"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".palmTouch"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".demoActivity"
            android:label="@string/app_name">
        </activity>


        <activity
            android:name=".gallery"
            android:label="@string/app_name">
        </activity>
    </application>

    <uses-permission android:name="android.permission.VIBRATE"/>




</manifest>